/* CSS Reset*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* make sure to set some focus styles for accessibility */

:focus {
    outline: 0;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type=search] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}


/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    max-width: 100%;
}


/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
    display: none;
    height: 0;
}


/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */

[hidden] {
    display: none;
}


/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
    font-size: 100%;
    /* 1 */
    -webkit-text-size-adjust: 100%;
    /* 2 */
    -ms-text-size-adjust: 100%;
    /* 2 */
}


/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
    outline: thin dotted;
}


/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
    outline: 0;
}


/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */

img {
    border: 0;
    /* 1 */
    -ms-interpolation-mode: bicubic;
    /* 2 */
}


/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */

figure {
    margin: 0;
}


/**
 * Correct margin displayed oddly in IE 6/7.
 */

form {
    margin: 0;
}


/**
 * Define consistent border, margin, and padding.
 */

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}


/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */

legend {
    border: 0;
    /* 1 */
    padding: 0;
    white-space: normal;
    /* 2 */
    *margin-left: -7px;
    /* 3 */
}


/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */

button,
input,
select,
textarea {
    font-size: 100%;
    /* 1 */
    margin: 0;
    /* 2 */
    vertical-align: baseline;
    /* 3 */
    *vertical-align: middle;
    /* 3 */
}


/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
    line-height: normal;
}


/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */

button,
select {
    text-transform: none;
}


/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */

button,
html input[type="button"],

/* 1 */

input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    /* 2 */
    cursor: pointer;
    /* 3 */
    *overflow: visible;
    /* 4 */
}


/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
    cursor: default;
}


/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    /* 1 */
    padding: 0;
    /* 2 */
    *height: 13px;
    /* 3 */
    *width: 13px;
    /* 3 */
}


/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
    -webkit-appearance: textfield;
    /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    /* 2 */
    box-sizing: content-box;
}


/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}


/**
 * Remove inner padding and border in Firefox 3+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}


/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */

textarea {
    overflow: auto;
    /* 1 */
    vertical-align: top;
    /* 2 */
}


/**
 * Remove most spacing between table cells.
 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html,
button,
input,
select,
textarea {
    color: #222;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* Global Styles*/

:root {
    --primary-blue: hsl(229, 39%, 35%);
    --btn-classic: hsl(229, 61%, 17%);
    --footer-blue: hsl(227, 100%, 95%);
    --para-blue: hsl(228, 30%, 57%);
    --heading-blue: hsl(229, 70%, 12%);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
    font-family: 'Roboto', sans-serif;
}

body {
    overflow-x: hidden;
}

.container {
    max-width: 940px;
    margin: 0 auto;
}

.feature-container {
    margin-bottom: 10em;
}

.fc-1 {
    margin-top: 5em;
}

.container-flex {
    display: flex;
}

img {
    max-width: 100%;
}

span {
    display: block;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

p {
    font-size: 1rem;
    color: var(--para-blue);
    line-height: 1.35em;
}

.btn-classic {
    background: var(--btn-classic);
    border: 2px solid var(--black);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: var(--white);
}

.btn-inverted {
    background-color: var(--white);
    border: 2px solid var(--heading-blue);
    color: var(--heading-blue);
}

.btn-classic,
.btn-inverted {
    font-size: 1rem;
    border-radius: 2px;
    line-height: 1.625rem;
    padding: 0.1rem 1.75rem;
    font-weight: 500;
}

.button {
    transition: all 0.2s ease-in-out;
}

.button:hover,
.button:focus {
    transform: scale(1.1);
}


/* Navigation */

.nav-flex li a {
    text-decoration: none;
    margin-right: 5em;
    color: hsl(228, 31%, 45%);
    font-size: 0.85rem;
    font-weight: 400;
}

.nav-flex li:last-child a {
    margin-right: 0;
}

header .container-flex {
    height: 60px;
    align-items: center;
    justify-content: space-between;
}

header .container-flex span {
    color: var(--primary-blue);
    font-weight: 900;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    font-size: 1.625rem;
}


/* Hero */

.hero-flex {
    height: calc(100vh - 60px);
    height: calc(100svh - 60px);
    display: flex;
    align-items: center;
}

.hero-primary-cont {
    max-width: 500px;
}

.hero-primary-cont h1 {
    line-height: 1.25em;
    font-weight: 600;
    stroke: 1px solid var(--black);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 0.5em;
}

.hero-primary-cont p {
    margin-bottom: 1.75em;
}

.hero-primary-cont .btn-classic {
    margin-right: 1.5em;
}

.hero-img img {}


/* Features */

.fc-text {
    width: 50%;
    margin-right: 1em;
}

.fc-img {
    width: 50%;
}

.fc-text h2,
.fc h2 {
    font-weight: 600;
    margin-bottom: 1em;
    line-height: 1em;
}

.fc-text div {
    margin-top: 4em;
    margin-right: 1em;
}

.fc-text div:last-child {
    margin-right: 0;
}

.fc-text div img {
    margin-bottom: 1em;
}

.fc-text h3 {
    margin-bottom: 1em;
    font-weight: 600;
}

.fc-text span {
    font-weight: 400;
    font-size: 0.75rem;
    color: #5D6970;
    line-height: 1.25rem;
}

.fc div {
    width: 50%;
}

.fc div:first-child {
    margin-right: 1em;
}

.fc {
    align-items: center;
}

.fc-4 p {
    margin-bottom: 1em;
}


/* CTA Price */

.cta-overlay {
    background-image: url(/home-lower-decor.svg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 10em;
}

.final-cta {
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.final-cta h2 {
    font-weight: 600;
    margin-bottom: 1em;
    line-height: 1em;
    margin-left: auto;
    margin-right: auto;
}

.final-cta p {
    font-weight: 400;
    max-width: 550px;
    text-align: center;
    margin-bottom: 1em;
}

.cta-price {
    color: var(--heading-blue);
    font-weight: 600;
    font-size: 2.5rem;
    margin-bottom: 0.25em;
}

.cta-label {
    font-size: 1rem;
    margin-bottom: 5em;
    color: var(--btn-classic);
}

.cta-caption {
    margin-bottom: 0.5em;
}

.final-cta button {
    margin-bottom: 10em;
}


/* Footer */

footer {
    background-color: var(--footer-blue);
}

footer .container-flex {
    justify-content: space-between;
    align-items: center;
}

footer div {
    padding-top: 2em;
    padding-bottom: 2em;
    padding-right: 1em;
    padding-left: 1em;
}

.social-flex li {
    margin-right: 1em;
}

.upper-line {
    border-top: 1px solid #CDD1D4;
    margin-bottom: 1em;
}

.ft-company-cc {
    font-weight: 500;
    font-size: 0.85rem;
    color: #939EA4;
}

.ft-company-label {
    color: var(--primary-blue);
    font-weight: 600;
    font-size: 1.25rem;
}

@media (max-width: 940px) {
    .container {
        width: 95%;
    }
}

@media (max-width: 768px) {
    .container-flex {
        flex-direction: column;
    }
    .hero-flex {
        flex-direction: column;
    }
    img {
        margin: 0 auto;
        width: 90%;
        display: block;
        margin-bottom: 1em;
    }
    .container-flex div {
        width: 90%;
    }
    .button {
        margin-bottom: 1em;
    }
    header .container-flex {
        height: auto;
    }
    .nav-flex li a {
        margin-right: 0;
    }
    .final-cta button {
        margin-bottom: 5em;
    }
    .fc-text div img {
        width: 10%;
    }
    .fc-1 {
        margin-top: 10em;
    }
    .hero-primary-cont .btn-classic {
        margin-right: 0;
    }
}